body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    float: left;
    width: 100%;
    background-color: powderblue;
    text-align: right;
}

.menu {
    margin-left: 20px;
}

h1 {
    padding-right: 40px;
}

aside {
    display: inline-block;
    position: relative;
    width: 35%;
    height: 100%;
    background-color: palegoldenrod;
}

main {
    display: inline-block;
    position: absolute;
    width: 65%;
    right: 0;
}

.chapter {
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: powderblue;
    width: 100%;
}